## Final Project Submission

Please fill out:
* Student name: Collins Kanyiri
* Student pace: full time
* Scheduled project review date/time: May 28 2023 / 11:59pm
* Instructor name: Mark Tiba
* Blog post URL: N/A


# Phase 1 Project - Microsoft Studios Movie Project

## 1. Introduction

The global film industry revenue is estimated to be $101.22 billion in 2021.The industry comprises the technological and commercial institutions of filmmaking, i.e., film production companies, film studios, cinematography, animation, film production, screenwriting, pre-production, post production, film festivals, distribution, and actors. 

Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. Microsoft's best-known software products are the Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers.

Ranked No. 14 in the 2022 Fortune 500 rankings of the largest United States corporations by total revenue, the corporation wishes to enter into the Movie buisness.

## 2. Business Understanding

### 2.1. Problem Statment 
Microsoft corporation, is looking to set up a movie studio to create original video content.Having no proir experience in the field their is need to reseach the current trends in the industry.
In order to make the necessary decisions resulting in the most profitable movies, there is need to look into data from movie review sites, analyse the data and come up with the recommendations that will lead to this outcome.

From the datasets provided, answers to the following questions can be sought:
   - What are the most popular genres?
   - Movie returns in both Domestic and Foreign markets.
   - What are the most popular film ratings?


### 2.2 Objectives
- Explore the datasets to answer the Problem Statment .
- Provide  conclusions and recommendations from the outcomes of the analyses.

## 3. Data Understanding
The datasets provided for this analysis were collected from different movie review sites.  
The datasets include:
1. bom.movie_gross [Box Office Mojo]
2. tmdb.movies [IMDB]
3. rt.movie_info [Rotten Tomatoes]
4. rt.reviews [Rotten Tomatoes]
5. tn.movie_budgets [The Numbers]

For this analysis, datasets 1 to 3 were used.
Their features are as follows:

**3.1. From Box Office Mojo**
- `title` - Name of the movie.
- `studio` - The studio that produced it.
- `domestic_gross` - The amount of gross earnings from its mother country.
- `foreign_gross` - The amount of gross earnings from elsewhere around the world.
- `year` - The year it was released.

**3.2. From IMDB Movies:**
- `genre_ids` - id for each genre of the Movie.
- `id` - Unique id for each movie.
- `original_language` - The original language of film.
- `popularity` - The popularity of the movie in millions.
- `release_date` - The date the Movie was released.
- `title` - The average rating out of 10. 
- `vote_average` - Average Number of votes to rate the movie out of 10.
- `vote_count` - Number of pepole who  to rate the movie.

    
**3.3. Rotten Tomatoes Movies Information:**

- `id` - Unique id for each movie.
- `synopsis` - A brief note on the premise of the movie.
- `rating` - rate of motion picture's suitability for certain audiences based on its content. 
     - R :- Restricted: Under 17 requires accompanying parent or adult guardian
     - PG-13 :- Some material may be inappropriate for children under 13
     - PG :- Some material may not be suitable for children
     - G :- All ages admitted
     - NR :- Not rated
- `genre` - A movie's category based on the plot.
- `director` - The movie's director.
- `writer` - The movie's writer.
- `theater_date` - The date the movie was released in theaters.
- `dvd_date` - The date the movie was released in dvd format.
- `currency` - - currency used.
- `Box office` - The studio returns.
- `runtime` - The total length of the movie.
- `studio` - The studio involved in the movie production.

**3.4. Rotten Tomatoes Review Information:**

- `review` - A review on the movie by a user.
- `rating` - How a user rates the movie.
- `fresh` - Rotten Tomatoes rating system,[Flesh-they liked it, rotten- the did not like it]
- `critic` - Name of the person leaving the review.
- `top_critic`  - 
- `publisher` - The publisher of the review.
- `date` - The date the review was written.

**3.5. From The Numbers:**
- `id` - Unique id for each movie.
- `release_date` - The date the Movie was released.
- `movie` - The movie name. 
- `production_budget` - amount of money used in the movie production.
- `domestic_gross` - Dometic returns of the production.
- `worldwide_gross` - worldwide returns of the production.

## 4. Data Preparation
1. import the Libraries.
2. Loading the Datasets
3. Exploring the Dataframes
4. Clean the data by dealing with:
    - missing values
    - duplicate rows
    - invalid data
    - outliers

In [3]:
# 4.1.importing relevant libraries
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import numpy as np
import seaborn as sns
%matplotlib inline

In [8]:
# 4.2 loading the datasets
bom_movies = pd.read_csv('Data/bom.movie_gross.csv')
rt_movies = pd.read_csv('Data/rt.movie_info.tsv',delimiter = '\t')
rt_reviews = pd.read_csv('Data/rt.reviews.tsv',delimiter = "\t",encoding='latin-1')
tn_movie_budgets = pd.read_csv('Data/tn.movie_budgets.csv')

#opening a connection to the imdb database
conn = sqlite3.connect("Data/im.db")

#  4.3 Exploring the Dataframes
 a. Box Office Mojo

In [9]:
# previewing the top of bom_movies
bom_movies.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [10]:
# determining the number of records in the bom_movies dataframe
bom_movies.shape

(3387, 5)

In [11]:
# previewing bom_movies information
bom_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [12]:
# previewing the summary statistics of bom_movies
bom_movies.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

Observations;
The following columns have missing values:studio, domestic_gross, foreign_gross.
foreign_gross is in string format.

b. Rt_movies

In [13]:
#previewing the top of rt_movies
rt_movies.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [14]:
# determining the number of records in the rt_movies dataframe
rt_movies.shape

(1560, 12)

In [15]:
#previewing information on rt_movies
rt_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

Observations;
some columns have missing values 
Values in genre column is separated by pipes ( | ).

c. rt_reviews

In [16]:
#previewing the top of rt_reviews
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [17]:
#determining the number of records in the rt_reviews dataframe
rt_reviews.shape

(54432, 8)

In [18]:
#previewing information on rt_reviews
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

Observations:

The some columns  have missing values
The rating column appears to be out of 5.

d. tn_movie_budgets

In [19]:
#previewing the top of tn_movie_budgets
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [20]:
#determining the number of records in the tn_movie_budgets dataframe
tn_movie_budgets.shape

(5782, 6)

In [21]:
#previewing information on tn_movie_budgets
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

Observations:
NO missing values.

e. IMDB movies